a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-slideshow-wrapper.slide {
  padding: 1rem 0;
}

.slide-container {
  max-width: 1440px;
  margin: 0 auto;
}

.images-wrap {
  flex-wrap: unset !important;
  gap: 2rem !important;
}

.slide-container-partners .images-wrap {
  max-width: 1440px;
}

.react-slideshow-container .nav:first-of-type {
  left: -1rem !important;
}

.react-slideshow-container .nav:last-of-type {
  right: -1rem !important;
}

.slide-container-gallery .react-slideshow-container .nav:first-of-type {
  left: 3rem !important;
}

.slide-container-gallery .react-slideshow-container .nav:last-of-type {
  right: 3rem !important;
}

@media screen and (min-width: 992px) {
  .slide-container-gallery .images-wrap div {
    width: 600px !important;
  }
}

html {
  scroll-padding-top: 100px;
}
